        <div class="row clearfix align-items-stretch">

          <div class="col-lg-6 center col-padding" style="background: url('images/services/main-bg.jpg') center center no-repeat; background-size: cover;">
          </div>

          <div class="col-lg-6 center col-padding" style="background-color: #F5F5F5;">
            <div class="heading-block border-bottom-0">
              <span class="before-heading color">Easily Understandable &amp; Customizable.</span>
              <h3>Walkthrough Videos &amp; Demos</h3>
            </div>

            <div class="center bottommargin">
              <a class="d-block position-relative" href="https://vimeo.com/101373765" data-lightbox="iframe">
                <img src="images/services/video.jpg" alt="Video">
                <div class="bg-overlay">
                  <div class="bg-overlay-content dark">
                    <span class="overlay-trigger-icon size-lg op-ts op-07 bg-light text-dark" data-hover-animate="op-1" data-hover-animate-out="op-07" data-hover-parent=".row"><i class="icon-line-play"></i></span>
                  </div>
                </div>
              </a>
            </div>
            <p class="lead mb-0">Democracy inspire breakthroughs, Rosa Parks; inspiration raise awareness natural resources. Governance impact; transformative donation philanthropy, respect reproductive.</p>
          </div>

        </div>
