        <div class="section parallax dark mb-0" style="background-image: url('images/services/home-testi-bg.jpg'); padding: 100px 0;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">

          <div class="heading-block center">
            <h3>What Clients Say?</h3>
          </div>

          <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
            <div class="flexslider">
              <div class="slider-wrap">
                <div class="slide">
                  <div class="testi-image">
                    <a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails"></a>
                  </div>
                  <div class="testi-content">
                    <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                    <div class="testi-meta">
                      Steve Jobs
                      <span>Apple Inc.</span>
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="testi-image">
                    <a href="#"><img src="images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                  </div>
                  <div class="testi-content">
                    <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                    <div class="testi-meta">
                      Collis Ta'eed
                      <span>Envato Inc.</span>
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="testi-image">
                    <a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                  </div>
                  <div class="testi-content">
                    <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                    <div class="testi-meta">
                      John Doe
                      <span>XYZ Inc.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
