          <div class="row col-mb-50 mb-4">
            <div class="col-lg-4 col-md-6">

              <div class="feature-box flex-md-row-reverse text-md-right" data-animate="fadeIn">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line-heart"></i></a>
                </div>
                <div class="fbox-content">
                  <h3>Boxed &amp; Wide Layouts</h3>
                  <p>Stretch your Website to the Full Width or make it boxed to surprise your visitors.</p>
                </div>
              </div>

              <div class="feature-box flex-md-row-reverse text-md-right mt-5" data-animate="fadeIn" data-delay="200">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line-paper"></i></a>
                </div>
                <div class="fbox-content">
                  <h3>Extensive Documentation</h3>
                  <p>We have covered each &amp; everything in our Docs including Videos &amp; Screenshots.</p>
                </div>
              </div>

              <div class="feature-box flex-md-row-reverse text-md-right mt-5" data-animate="fadeIn" data-delay="400">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line-layers"></i></a>
                </div>
                <div class="fbox-content">
                  <h3>Parallax Support</h3>
                  <p>Display your Content attractively using Parallax Sections with HTML5 Videos.</p>
                </div>
              </div>

            </div>

            <div class="col-lg-4 d-md-none d-lg-block text-center">
              <img src="images/services/iphone7.png" alt="iphone 2">
            </div>

            <div class="col-lg-4 col-md-6">

              <div class="feature-box" data-animate="fadeIn">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line-power"></i></a>
                </div>
                <div class="fbox-content">
                  <h3>HTML5 Video</h3>
                  <p>Canvas provides support for Native HTML5 Videos that can be added to a Background.</p>
                </div>
              </div>

              <div class="feature-box mt-5" data-animate="fadeIn" data-delay="200">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line-check"></i></a>
                </div>
                <div class="fbox-content">
                  <h3>Endless Possibilities</h3>
                  <p>Complete control on each &amp; every element that provides endless customization.</p>
                </div>
              </div>

              <div class="feature-box mt-5" data-animate="fadeIn" data-delay="400">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-bulb"></i></a>
                </div>
                <div class="fbox-content">
                  <h3>Light &amp; Dark Color Schemes</h3>
                  <p>Change your Website's Primary Scheme instantly by simply adding the dark class.</p>
                </div>
              </div>

            </div>
          </div>
