        <div class="container">
          <div class="row align-items-center">

            <div class="col-lg-5">
              <div class="heading-block">
                <h1>Welcome to Canvas.<br>MultiPurpose Template.</h1>
              </div>
              <p class="lead">Create a website that you are gonna be proud of. Be it Business, Portfolio, Agency, Photography, eCommerce &amp; much more.</p>
            </div>

            <div class="col-lg-7 align-self-end">

              <div class="position-relative overflow-hidden">
                <img src="images/services/main-fbrowser.png" data-animate="fadeInUp" data-delay="100" alt="Chrome">
                <img src="images/services/main-fmobile.png" style="top: 0; left: 0; min-width: 100%; min-height: 100%;" data-animate="fadeInUp" data-delay="400" alt="iPhone" class="position-absolute">
              </div>

            </div>

          </div>
        </div>
