        <div class="container clearfix">

          <div class="row align-items-center col-mb-50">
            <div class="col-md-4 center">
              <img data-animate="fadeInLeft" src="images/services/iphone6.png" alt="Iphone">
            </div>

            <div class="col-md-8 text-center text-md-left">
              <div class="heading-block border-bottom-0">
                <h3>Optimized for Mobile &amp; Touch Enabled Devices.</h3>
              </div>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam.</p>

              <a href="#" class="button button-border button-dark button-rounded button-large ml-0 topmargin-sm">Learn more</a>
            </div>
          </div>

        </div>
