                <li class="menu-item mega-menu">
                  <a class="menu-link" href="#"><div>Portfolio</div></a>
                  <div class="mega-menu-content mega-menu-style-2">
                    <div class="container">
                      <div class="row">
                        <ul class="sub-menu-container mega-menu-column col">
                          <li class="menu-item mega-menu-title">
                            <a class="menu-link" href="#"><div>Grids</div></a>
                            <ul class="sub-menu-container">
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-1.html"><div>1 Column</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-2.html"><div>2 Columns</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-3.html"><div>3 Columns</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio.html"><div>4 Columns</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-5.html"><div>5 Columns</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-6.html"><div>6 Columns</div></a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <ul class="sub-menu-container mega-menu-column col">
                          <li class="menu-item mega-menu-title">
                            <a class="menu-link" href="#"><div>Masonry</div></a>
                            <ul class="sub-menu-container">
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-mixed-masonry.html"><div>Mixed Columns</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-2-masonry.html"><div>2 Columns</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-3-masonry.html"><div>3 Columns</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-masonry.html"><div>4 Columns</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-5-masonry.html"><div>5 Columns</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-6-masonry.html"><div>6 Columns</div></a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <ul class="sub-menu-container mega-menu-column col">
                          <li class="menu-item mega-menu-title">
                            <a class="menu-link" href="#"><div>Loading Styles</div></a>
                            <ul class="sub-menu-container">
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio.html"><div>jQuery Filter</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-jpagination.html"><div>jQuery Pagination</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-infinity-scroll.html"><div>Infinity Scroll</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-ajax.html"><div>AJAX In Page</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-ajax-in-modal.html"><div>AJAX In Modal</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-filter-styles.html"><div>Filter Styles</div></a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <ul class="sub-menu-container mega-menu-column col">
                          <li class="menu-item mega-menu-title">
                            <a class="menu-link" href="#"><div>Single Project</div></a>
                            <ul class="sub-menu-container">
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-single-extended.html"><div>Extended Item</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-single-fullwidth.html"><div>Parallax Image</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-single-gallery-full.html"><div>Slider Gallery</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-single-video-fullwidth-left-sidebar.html"><div>HTML5 Video</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-single-thumbs-right-sidebar.html"><div>Masonry Thumbs</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-single-video-both-sidebar.html"><div>Embed Video</div></a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <ul class="sub-menu-container mega-menu-column col">
                          <li class="menu-item mega-menu-title">
                            <a class="menu-link" href="#"><div>Layouts</div></a>
                            <ul class="sub-menu-container">
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-nomargin.html"><div>Default</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-1-alt-right-sidebar.html"><div>Right Sidebar</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-3-left-sidebar.html"><div>Left Sidebar</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-2-both-sidebar.html"><div>Both Sidebar</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-fullwidth-notitle.html"><div>100% Width</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="portfolio-parallax.html"><div>Parallax</div></a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
