                <li class="menu-item">
                  <a class="menu-link" href="shop.html"><div>Shop</div></a>
                  <ul class="sub-menu-container">
                    <li class="menu-item">
                      <a class="menu-link" href="shop.html"><div>4 Columns</div></a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="shop-3.html"><div>3 Columns</div></a>
                      <ul class="sub-menu-container">
                        <li class="menu-item">
                          <a class="menu-link" href="shop-3.html"><div>Full Width</div></a>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link" href="shop-3-right-sidebar.html"><div>Right Sidebar</div></a>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link" href="shop-3-left-sidebar.html"><div>Left Sidebar</div></a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="shop-2.html"><div>2 Columns</div></a>
                      <ul class="sub-menu-container">
                        <li class="menu-item">
                          <a class="menu-link" href="shop-2-right-sidebar.html"><div>Right Sidebar</div></a>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link" href="shop-2-left-sidebar.html"><div>Left Sidebar</div></a>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link" href="shop-2-both-sidebar.html"><div>Both Sidebar</div></a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="shop-1.html"><div>1 Columns</div></a>
                      <ul class="sub-menu-container">
                        <li class="menu-item">
                          <a class="menu-link" href="shop-1.html"><div>Full Width</div></a>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link" href="shop-1-right-sidebar.html"><div>Right Sidebar</div></a>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link" href="shop-1-left-sidebar.html"><div>Left Sidebar</div></a>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link" href="shop-1-both-sidebar.html"><div>Both Sidebar</div></a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="shop-category-parallax.html"><div>Categories - Parallax</div></a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="shop-combination-filter.html"><div>Combination Filter</div></a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="shop-single.html"><div>Single Product</div></a>
                      <ul class="sub-menu-container">
                        <li class="menu-item">
                          <a class="menu-link" href="shop-single.html"><div>Full Width</div></a>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link" href="shop-single-right-sidebar.html"><div>Right Sidebar</div></a>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link" href="shop-single-left-sidebar.html"><div>Left Sidebar</div></a>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link" href="shop-single-both-sidebar.html"><div>Both Sidebar</div></a>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link" href="shop-single-color.html"><div>Color Options</div></a>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link" href="shop-single-sticky.html"><div>Sticky Aside</div></a>
                        </li>
                        <li class="menu-item">
                          <a class="menu-link" href="shop-single-list.html"><div>Feature List</div></a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="cart.html"><div>Cart</div></a>
                    </li>
                    <li class="menu-item">
                      <a class="menu-link" href="checkout.html"><div>Checkout</div></a>
                    </li>
                  </ul>
                </li>
