                <li class="menu-item mega-menu">
                  <a class="menu-link" href="#"><div>Blog</div></a>
                  <div class="mega-menu-content mega-menu-style-2">
                    <div class="container">
                      <div class="row">
                        <ul class="sub-menu-container mega-menu-column col-lg-3">
                          <li class="menu-item mega-menu-title">
                            <a class="menu-link" href="#"><div>Default</div></a>
                            <ul class="sub-menu-container">
                              <li class="menu-item">
                                <a class="menu-link" href="blog.html"><div>Right Sidebar</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-left-sidebar.html"><div>Left Sidebar</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-both-sidebar.html"><div>Both Sidebar</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-full-width.html"><div>Full Width</div></a>
                              </li>
                            </ul>
                          </li>
                          <li class="menu-item mega-menu-title">
                            <a class="menu-link" href="#"><div>Timeline</div></a>
                            <ul class="sub-menu-container">
                              <li class="menu-item">
                                <a class="menu-link" href="blog-timeline-right-sidebar.html"><div>Right Sidebar</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-timeline-left-sidebar.html"><div>Left Sidebar</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-timeline.html"><div>Full Width</div></a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <ul class="sub-menu-container mega-menu-column col-lg-3">
                          <li class="menu-item mega-menu-title">
                            <a class="menu-link" href="#"><div>Masonry</div></a>
                            <ul class="sub-menu-container">
                              <li class="menu-item">
                                <a class="menu-link" href="blog-masonry.html"><div>4 Columns</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-masonry-3.html"><div>3 Columns</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-masonry-2.html"><div>2 Columns</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-masonry-full.html"><div>100% Width</div></a>
                              </li>
                            </ul>
                          </li>
                          <li class="menu-item mega-menu-title">
                            <a class="menu-link" href="#"><div>Grid</div></a>
                            <ul class="sub-menu-container">
                              <li class="menu-item">
                                <a class="menu-link" href="blog-grid.html"><div>4 Columns</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-grid-3.html"><div>3 Columns</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-grid-2.html"><div>2 Columns</div></a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <ul class="sub-menu-container mega-menu-column col-lg-3">
                          <li class="menu-item mega-menu-title">
                            <a class="menu-link" href="#"><div>Small Thumbs</div></a>
                            <ul class="sub-menu-container">
                              <li class="menu-item">
                                <a class="menu-link" href="blog-small-left-sidebar.html"><div>Left Sidebar</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-small.html"><div>Right Sidebar</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-small-both-sidebar.html"><div>Both Sidebar</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-small-full-width.html"><div>Full Width</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-small-alt.html"><div>Alternate Layout</div></a>
                              </li>
                            </ul>
                          </li>
                          <li class="menu-item mega-menu-title">
                            <a class="menu-link" href="#"><div>Item Splitting</div></a>
                            <ul class="sub-menu-container">
                              <li class="menu-item">
                                <a class="menu-link" href="blog-grid.html"><div>Pagination</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-masonry.html"><div>Infinite Scroll</div></a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <ul class="sub-menu-container mega-menu-column col-lg-3">
                          <li class="menu-item mega-menu-title">
                            <a class="menu-link" href="#"><div>Single</div></a>
                            <ul class="sub-menu-container">
                              <li class="menu-item">
                                <a class="menu-link" href="blog-single.html"><div>Default Layout</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-single-left-sidebar.html"><div>Left Sidebar</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-single-full.html"><div>Full Width</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-single-small.html"><div>Small Image</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-single-split-right-sidebar.html"><div>Split Layout</div></a>
                              </li>
                            </ul>
                          </li>
                          <li class="menu-item mega-menu-title">
                            <a class="menu-link" href="#"><div>Comments Module</div></a>
                            <ul class="sub-menu-container">
                              <li class="menu-item">
                                <a class="menu-link" href="blog-single-left-sidebar.html#comments"><div>Facebook Comments</div></a>
                              </li>
                              <li class="menu-item">
                                <a class="menu-link" href="blog-single-small.html#comments"><div>Disqus Comments</div></a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
